body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    background-color: #1C2E42;
}

#navbar #dropdown-options{
    background-color: black;
}

#navbar a{
    color: #D6B02E;
}   

/* login */
#container1{
    margin-top: 5%;
    text-align: center;
}

#navbarsearch{
    max-width: 500px
}

#onclick-login a{
    color: white;
    text-decoration: none;
}


.cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.font-weight-bold {
    font-weight: bold !important;
}