<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid"></div>
    <a class="navbar-brand" href="">PC Mundo</a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="navbarsearch">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View Cart</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <ul class="navbar-nav ml-auto">
            {{#if isAuthenticated}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out {{ username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post-listing">Post Listing</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>