<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  {{> navbar}}
  <div class="container">
    <table class="table">
      <thead>
        <tr>
            <th>Product</th>
            <th></th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th></th> <!-- Empty header for delete button column -->
        </tr>
      </thead>
      <tbody>
          <tr>
              <td colspan="6" class="font-weight-bold">Store Name 1</td> <!-- Spanning all columns -->
          </tr>
          <!-- Items for Store Name 1 -->
          <tr>
              <td>
                  <img src="item-image1.jpg" alt="Item Image 1" class="img-fluid">
              </td>
              <td class="small">Item Name 1</td>
              <td class="text-center" >$10</td>
              <td class="text-center" >2</td>
              <td class="text-center" >$20</td>
              <td class="text-center" ><button class="btn btn-danger">Delete</button></td> <!-- Delete button -->
          </tr>
          <tr>
              <td colspan="6" class="font-weight-bold">Store Name 2</td> <!-- Spanning all columns -->
          </tr>
          <!-- Items for Store Name 2 -->
          <tr>
              <td>
                  <img src="item-image2.jpg" alt="Item Image 2" class="img-fluid">
              </td>
              <td class="small">Item Name 2</td>
              <td class="text-center" >$15</td>
              <td class="text-center" >3</td>
              <td class="text-center" >$45</td>
              <td class="text-center" ><button class="btn btn-danger">Delete</button></td> <!-- Delete button -->
          </tr>
          <tr>
              <td>
                  <img src="item-image3.jpg" alt="Item Image 3" class="img-fluid">
              </td>
              <td class="small">Item Name 3</td>
              <td class="text-center" >$20</td>
              <td class="text-center" >1</td>
              <td class="text-center" >$20</td>
              <td class="text-center" ><button class="btn btn-danger">Delete</button></td> <!-- Delete button -->
          </tr>
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>
    

<script src="js/viewlist.js"> </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
