<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#if isAuthenticated}}
        <h1>Welcome to the Home Page, {{ username }}!</h1>
        <!-- Other authenticated user content -->
        <a href="/logout">Sign Out</a>
    {{else}}
        <h1>Welcome to the Home Page! {{ username }}</h1>
        <!-- Other content for non-authenticated users -->
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    {{/if}}

    
</body>
</html>